{% load staticfiles %} {% load static %}

<!doctype html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>
        Biletomat.com
    </title>

    <link href="{% static 'css/dependencies/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  </head>

  <body>

    <header>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Biletomat.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Utwórz konto</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="">Strona główna</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'surveys' %}">Wydarzenia</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Kup Bilet</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'settings' %}">Ustawienia</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
            </li>
            {% endif %}

          </ul>
          <div class="mt-2 mt-md-0 site-title">


              {% block site_title %}
              {% endblock %}

          </div>

        </div>
      </nav>
    </header>


    <main role="main" class="container">


      <div class="row">
        <div class="col-sm-12 text-center messages">


            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
      </div>
        {% block content %}
        {% endblock %}

    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Biletomat.com aplikacja internetowa stworzona w django przez Bartłmiej Borkowski i Marta Rozmysłowicz</span>
      </div>
    </footer>
    <script src="{% static 'js/dependencies/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/dependencies/popper.min.js' %}"></script>
    <script src="{% static 'js/dependencies/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>