{% extends 'core/base.html' %}
{% block site_title %}
    <h4>
        Strona główna
    </h4>
{% endblock %}>
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <p>
                <h2>
                    Witaj w serwisie sprzedaży biletów!
                    <br />
                </h2>
                <h4>
                    <small>
                        <em>
                            Aby kupić bilet utwórz konto lub zaloguj się.
                        </em>
                    </small>
                </h4>
            </p>
        </div>
    </div>
{% endblock %}
